@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&family=Righteous&display=swap');
*{
  margin: 0;
}
body{
  background-color: #0D1117;
}
.main_body_header{
  display: flex;
  color: white;
  align-items: center;
  font-family: 'Righteous', cursive;
  margin-left: 10px;
}
.main_body_header > img{
  width: 80px;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.main_body_header > img:hover{
  transform: rotate(360deg);
}
.main_body_header > a{
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  color: #febe0b;
  transition: .3s ease-in-out;
  margin-left: 10px;
}
.main_body_header > a:hover{
  transform: scale(1.05);
}
.main_body{
  background-color: #0D1117;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
.main_body_desc{
  background-color: #161B22;
  color: white;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  border: solid 2px #febe0b;
  transition: .3s ease-in-out;
}
.main_body_desc:hover{
  transform: scale(1.05);
}
.main_body_desc > a{
  text-decoration: none;
  color: #febe0b;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.spaceman{
  width: 300px;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@media only screen and (max-width: 768px){
  .main_body_header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .main_body_header > img{
    width: 45px;
  }
  .main_body_header > a{
    font-size: 1.8rem;
  }
  .main_body_desc{
    width: 100%;
    padding: 30;
    margin: 5px;
  }
  .main_body_desc > h1{
    font-size: 1.5rem;
  }
  .main_body{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .spaceman{
    width: 200px;
  }
}